/* font */
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;400;500;600;700;800&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Anek Bangla', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

/* variables */
:root {
    --color1: #000;
    --color2: #fff;
    --color3: #ea0f1e;
}

/* styles */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    overflow-x: hidden;
}

/* container with image */
.containerImage {
    height: 100%;
    width: 50%;
}

/* container text with dom */
.containerText {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    transform: translate(-60px, -60px);
    -webkit-transform: translate(-60px, -60px);
    -moz-transform: translate(-60px, -60px);
    -o-transform: translate(-60px, -60px);
    -ms-transform: translate(-60px, -60px);
}

.containerText .white {
    height: 25%;
    width: 50%;
    color: var(--color2);
    font-size: clamp(1rem, 10vw, 12rem);
    font-weight: 600;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.containerText .red {
    height: 25%;
    width: 50%;
    color: var(--color3);
    font-size: clamp(1rem, 10vw, 12rem);
    font-weight: 600;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

/* DOM About */
/* header */
.backHTML {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: flex-end;
    -ms-flex-line-pack: end;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    position: fixed;
}

.ulBack .back {
    margin-right: clamp(30px, 8vw, 120px);
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 600;
    color: var(--color3);
}

/* main of about */
.newAbout {
    height: 85%;
    width: 100%;
    color: var(--color2);
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.newAbout .divTitleAbout {
    height: 120%;
    width: 100%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.newAbout span {
    font-size: clamp(1rem, 10vw, 8rem);
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    text-align: center;
}

.divContentAbout {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.divContentAbout p {
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    margin-bottom: 20%;
}

.skills {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.imgSkills {
    height: clamp(1rem, 10vw, 12rem);
    width: clamp(1rem, 10vw, 12rem);
}

/* DOM contact */
/* main of Contact */
.newContact {
    height: 85%;
    width: 100%;
    color: var(--color2);
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.newContact .divTitleContact {
    height: 125%;
    width: 100%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.newContact span {
    font-size: clamp(1rem, 10vw, 8rem);
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    text-align: center;
}

.divContentContact {
    height: 100%;
    width: 65%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.divContentContact p {
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
}

.socials {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.socials div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.socials div a {
    font-size: clamp(1rem, 5vw, 2rem);
    color: var(--color3);
}